/*general*/
body {
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.wrapper {
	background: linear-gradient(to top right, #fbb03b, #83c222);;
	height: 100vh;
	width: 100vw;
	font-family: 'Open Sans';
	font-weight: 300;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	max-height: 1920px;
	min-width: 800px;
	min-height: 1920px;
}

/*header*/
.header {
	width: 100%;
	max-width: 1200px;
	min-width: 800px;
	height: 100px;
	display: flex;
	justify-content: space-around;
}

.thb-logo-white {
	margin: 23px;
}

.nav {
	width: 100%;
	display: flex;
	align-items: center;
}
.nav__menu {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 85px;
	align-items: flex-end;
    
}

.nav__menu-link {
	padding-bottom: 15px;
}
.nav__menu-link a {
	color: white;
	font-size: 15px;
}

.nav__menu-link:hover {
	border-bottom: 1px solid white;
}

.nav__menu-link:last-child:hover {
	border:none;
}
.nav__menu-link:nth-child(4) a {
	font-size: 24px;
}

/*header end*/

/*content*/
.content {
	position: relative;
	display: flex;
	flex:1 0 auto;
	overflow: auto;
}

/*slider*/
.slider {
	display: flex;
	width: 100%;
}

.slider__show {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.slider__show-text {
	padding: 20px;
}

.together {
	display: flex;
	flex-direction: row;
}

.slider__show-text h1 {
	font-size: 55px;
	margin: 0 26px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: white;
	margin-bottom: 40px;
}
.slider__show-text p {
	font-size: 24px;
	margin: 0 30px;
	color: white;
}

.slider__btn {
	display: flex;
	align-items: center;
	background: #0d703f;
	font-size: 24px;
	width: 220px;
	height: 60px;
	border-radius: 10px;
	margin: 40px 40px 0 30px;
}
.slider__btn:hover {
	cursor: pointer;
	background-color: #49aa43;
}

.slider__btn a {
	color: white;
	padding: 21%;
}
.carousel-img {
	padding: 50px 50px 0 50px;
}

.go_to {
	position: absolute;
	bottom: 65.2%;
	left: 50%;
}
/*content end*/

/*footer*/
.footer {
	display: flex;
	flex: 0 0 auto;
	background: #333333;
	bottom: 0;
	width: 100%;
	height: 500px;
	color: #808080;
	font-size: 14px;
}

.footer__left {
	width: 300px;
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.footer__center {
	width: 300px;
	margin: 20px;
}

.footer__right {
	width: 300px;
	margin:20px;
}

.footer__bottom {
	width: 100%;
	height: 100px;
	display: flex;
	color: #808080;
	flex-direction: row;
	bottom: 0;
	border-top: 1px solid #808080;
	background: #333333;
	justify-content: space-around;
	align-items: center;
}
.weblime {
	color: #808080;
	border-bottom: 1px solid #808080;
}
.icon {
	margin: 10px;
}

.input {
	background-color: #808080;
	background: url(../img/icons/SVG/search.svg) no-repeat center right;
	width: 200px;
	color: #808080;
	outline: none;
	border:1px solid #808080;
}
/*footer end*/