/*general*/
html {
	scroll-behavior: smooth;
}
body {
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.wrapper {
	background: linear-gradient(to right, #fbb03b, #83c222);
	height: 100vh;
	width: 100vw;
	font-family: 'Open Sans';
	font-weight: 300;

}

/*header*/
.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 97%;
	width: 100%;
	min-width: 800px;
}
.header__head {
	width: 100%;
	max-width: 1200px;
	min-width: 800px;
	height: 100px;
	display: flex;
	justify-content: space-around;
}

.thb-logo-white {
	margin: 23px;
}

.nav {
	width: 100%;
	display: flex;
	align-items: center;
}
.nav__menu {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 85px;
	align-items: flex-end;
    
}

.nav__menu-link {
	padding-bottom: 15px;
	border-bottom: 1px solid transparent;
}
.nav__menu-link a {
	color: white;
	font-size: 15px;
}

.nav__menu-link:hover {
	border-bottom: 1px solid white;
}

.nav__menu-link:last-child:hover {
	border-bottom:1px solid transparent;
}
.nav__menu-link:nth-child(4) a {
	font-size: 24px;
}

/*header content*/
.header__content {
	display: flex;
	overflow: auto;
}

/*slider*/
.slider {
	display: flex;
	width: 100%;
	height: 100%;
}

.slider__show {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.slider__show-text {
	padding: 20px;
	width: 550px;
}

.together {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.slider__show-text h1 {
	font-size: 55px;
	margin: 0 26px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: white;
	margin-bottom: 40px;
}
.slider__show-text p {
	font-size: 24px;
	margin: 0 30px;
	color: white;
}

.slider__btn {
	display: flex;
	align-items: center;
	background: #0d703f;
	font-size: 24px;
	width: 220px;
	height: 60px;
	border-radius: 10px;
	margin: 40px 40px 0 30px;
}
.slider__btn:hover {
	cursor: pointer;
	background-color: #49aa43;
}

.slider__btn a {
	color: white;
	padding: 21%;
}
.carousel-img {
	padding: 50px 50px 0 50px;
}

.go_to {
	position: absolute;
	bottom: 0;
	left: 50%;
}

/*header end*/

/*main content*/
.main-content {
	background: #f2f2f2;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 1400px;
	top:100%;
	overflow: auto;
}

.main__top {
	display: flex;
	position: relative;
	left: 8%;
	justify-content: flex-start;
	width: 880px;
}

.navigation {
	display: flex;
	flex-direction: row;
	padding: 0;
}

.navigation__item a {
	color: #333333;
}
.navigation__item{
	margin: 40px 0 40px 0;
}

.navigation__item-img {
	height: 30px;
	width: 30px;
	padding:10px;
}

.main__center {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	height: 100%;
	width: 1200px;
	position: relative;
	left: 8%;
	margin-bottom: 110px;
}

.deb__card-h1 {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 40px;
	color: #0d703f;
	width: 100%;
	margin: 40px 0 40px 0;
	position: relative;
	left: 4%;
}

.pic__card {
	display: flex;
	flex-direction: row;
	height: 355px;
	width: 1100px;
	background: linear-gradient(to right, #fbb03b, #83c222);
	border-radius: 10px;
	align-items: center;
	position: relative;
	left: 4%;
}

.pic__card-img {
	margin: 54px;
	height: 200px;
	width: 355px;
}

.pic__card-text {
	color: white;
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 32px;
	margin-right: 56px;
	height: 220px;
}

.discription {
	display: flex;
	flex-direction: row;
	max-width: 1100px;
	flex-wrap: wrap;
	position: relative;
	left: 4%;
}

.discription__card {
	display: flex;
	flex-direction: row;
	max-width: 1100px;
	height: 400px;
	flex-wrap: wrap;
}

.discription__card-h2{
	width: 100%;
	font-size: 32px;
	color:  #0d703f;
	margin: 36px 0 40px 0;
}

.discription__card-item {
	height: 100px;
	width: 250px;
	margin: 0 auto 40px 0;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.discription__card-item:nth-child(2) {
	position: relative;
	top:-20px;
}
.discription__card-item:nth-child(7) {
	position: relative;
	top:20px;
}

.discription__card-img {
	margin-bottom: 30px;
}

.main__bottom {
	background: #f2f2f2;
	max-width: 1100px;
	width: 100%;
	border-radius: 10px;
	margin:40px auto;
}
.main__bottom-h2 {
	font-size: 32px;
	color: #0d703f;
	width: 100%;
	margin: 34px 34px 30px;
}
.main__bottom-text {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 14px;
	color: #333;
	margin: 0 0 40px 34px;
}
.main__bottom-text a {
	color: #333;
	border-bottom: 1px solid #49aa43;
}

/*main content end*/

/*footer*/
.footer {
	display: flex;
	flex: 0 0 auto;
	background: #333333;
	bottom: 0;
	width: 100%;
	height: 500px;
	color: #808080;
	font-size: 14px;	
}
.footer__together {
	display: flex;
	margin: 80px 0;
	position: relative;
	left: 8%;
}

.footer__left {
	width: 285px;
	display: flex;
	flex-direction: column;
	margin: 20px 20px 20px 0;
}

.footer__left-text {
	margin-top: 38px;
}

.footer__left-contacts {
	margin-top: 38px;
	padding: 0;
}

.footer__center {
	width: 300px;
	margin: 20px;
}

.entity__item a {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 14px;
	color: #808080;
}

.entity__item {
	padding-top: 10px;
}

.entity__item:first-child {
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 20px;
}

.info__item {
	padding-top: 10px;
}

.info__item  a {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 14px;
	color: #808080;
}

.info__item:first-child {
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 20px;
}

.footer__right {
	width: 300px;
	margin:20px;
}

.personal__item {
	padding-top: 10px;
}

.personal__item a {
	font-family: "Open Sans";
	font-weight: 300;
	font-size: 14px;
	color: #808080;
}

.personal__item:first-child {
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 20px;
}

.footer__bottom {
	width: 100%;
	height: 100px;
	display: flex;
	color: #808080;
	bottom: 0;
	border-top: 1px solid #808080;
	background: #333333;
}
.footer__bottom-together{
	width: 1100px;
	height: 100%;
	position: relative;
	left: 8%;
	display: flex;
	color: #808080;
	flex-direction: row;
	bottom: 0;
	background: #333333;
	align-items: center;
	justify-content: space-between;
}

.weblime__web {
	color: #808080;
	border-bottom: 1px solid #808080;
}
.icon {
	margin: 10px;
}

.input {
	background-color: #808080;
	background: url(../img/icons/SVG/search.svg) no-repeat center right;
	width: 200px;
	color: #808080;
	outline: none;
	border:1px solid #808080;

}
/*footer end*/